@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #1B98E0;
    --accent-color: #333333;
    --text-color: #1B98E0;
    --text-black: #333333;
    --font: Arial, sans-serif, "Arima";
}

* {
    font-family: Arial, sans-serif;
    color: var(--text-black);
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    justify-content: center;
    align-items: flex-end;
    margin-top: 1em;
}

header h1 {
    font-family: "Arima", sans-serif;
    font-size: 50px;
    line-height: 50px;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

header img {
    width: 80px;
    margin: 0;
}

.search {
    display: flex;
    justify-content: center;
    padding: 2em;
    width: 80%;
}

.search form {
    padding: 0.5em;
    width: 90%;
    border: 1px solid var(--accent-color);
    border-radius: 5px 0px 0px 5px;
    margin: 0;
}

.search input {
    border: none;
    width: 100%;
    height: 100%;
}

.search img {
    width: 30px;
    cursor: pointer;
    border: 1px solid var(--accent-color);
    border-radius: 0px 5px 5px 0px;
    margin: 0;
}

hr {
    border: none;
    border-top: 2px solid grey;
    margin: 1.5em 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

h2 a{
    color: var(--text-color);
    font-family: "Arima", Arial;
    line-height: 20px;
    margin-top: 1em;
    text-decoration: none;
}

.recipe {
    display: flex;
    text-align: left;
    justify-content: left;
    flex-direction: column;
    border: 1px solid var(--accent-color);
    padding: 1em;
    margin-bottom: 1.5em;
    width: 75%;
}

.recipe figure {
    margin: 0;
}

.tags {
    margin-bottom: 0.5em;
    display: flex;
    list-style-type: none;
}

.tags li {
    border: 1px solid var(--accent-color);
    padding: 0.5em;
    margin: 0;
}

.rating {
    margin-bottom: 0.5em;
    display: flex;
}

.rating span {
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.social {
    display: flex;
}

.social a{
    margin: 0 0.5em;
    width: 50px;
}

footer a {
    font-size: 0.6em;
    color: var(--text-color);
}

img {
    max-width: 100%;
    padding: 0;
}

.recipe_description {
    display: none;
}

button {
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 600px) {
    footer {
        flex-flow: row-reverse;
        justify-content: space-between;
    }
    .recipe {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    .recipe img {
        width: 40%;
        height: auto;
    }
    .recipe_description {
        display: contents;
    }
    figure {
        display: flex;
        gap: 1em;
    }
}

@media screen and (min-width: 960px) {
    * {
        max-width: 960px;
    }
    footer {
        flex-flow: row-reverse;
        justify-content: space-between;
    }
    .recipe {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .recipe img {
        width: 40%;
        height: auto;
    }
    .recipe_description {
        display: contents;
    }
    figure {
        display: flex;
        gap: 1em;
    }
}