@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root {
    --primary-color: #FEFAE0;
    --secondary-color: #461220;
    --accent-color: #283618;
    --text-color: #461220;
    --text-white: #FEFAE0;
    --font: "Afacad Flux", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
}

.title {
    text-align: center;
    font-size: 30px;
    margin-block: 20px;
}

ul {
    border-top: 4px solid var(--accent-color);
    border-bottom: 4px solid var(--accent-color);
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: end;
    justify-items: end;
    list-style-type: none;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li a{
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
}

main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto;
    /* grid-template-areas: 
        "book-post book-post filters"; */
    gap: 20px;
    margin-top: 30px;
    grid-auto-rows: minmax(100px, auto);
}

.book-post {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px;
}

.filters {
    grid-column: 3 / 4;
    text-align: left;
    top: 0;
}

.identifiers {
    grid-column: 1/2;
    text-align: right;
    border-right: 3px solid var(--accent-color);
    padding-right: 10px;
}

.identifiers #date {
    font-size: 18px;
}

.info {
    margin-top: -5px;
    grid-column: 2/3;
    text-align: left;
}

.info img {
    display: block;
    margin: 0 auto;
}

h2 {
    font-size: 25px;
}

.skiptocontent a {
	/* set the element to absolute positioning */
    position: absolute;
	/* move it off screen */
	/* Make sure it will be on the left edge of the screen */
    top: -40px;
	/* Change the background and color to something that stands out */
    background-color: var(--accent-color);
    color: var(--text-white);
}
.skiptocontent a:focus {
	/* Move it back on when focused */
    top: 0px;
}



